.footer {
  padding: 90px 0;
  background: var(--bg-footer);
  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
  }
  &__link {
    font-size: 15px;
    color: var(--white);
    transition: 0.3s;
    position: relative;
  }
  &__link:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    background-color: var(--bg-btn);
    transition: 0.3s;
  }
  &__link:hover::after {
    width: 100%;
  }
  &__wrapper {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
  }
  &__btn {
    padding: 10px 30px;
    border-radius: 43px;
    color: var(--white);
    background: var(--bg-btn);
    border: 1px solid var(--bg-btn);
    font-size: 15px;
    transition: 0.3s;
  }
  &__btn:hover {
    transition: 0.3s;
    background: var(--white);
    color: var(--bg-btn);
  }
  &__btn:active {
    background: var(--bg-btn);
    color: var(--white);
  }
}
@media (max-width: 850px) {
  .footer {
    padding: 45px 0;
    &__menu {
      overflow-x: scroll;
    }
    &__menu::-webkit-scrollbar {
      background: var(--bg-btn);
      height: 4px;
    }
    &__link {
      white-space: nowrap;
    }
    &__link::after {
      display: none;
    }
    &__wrapper {
        margin-top: 30px;
    }
  }
}
@media(max-width: 370px) {
    .footer {
      &__btn {
        padding: 7px 20px;
        font-size: 14px;
      }
      &__img {
        max-width: 60%;
      }
    }
  }